<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <div id="loginForm">
            <h3>whats your name ?</h3>
            <input type="text" id="textUsername"/>
            <input type="button" value="dk" id="btnDK">
        </div>
        <br>
        <div id="chatForm">
            <div id="left">
                <div id="boxTilte">User online</div>
                <div id="boxContent">
                    <div class="useronline">van A</div>
                </div>
            </div>

            <div id="right">
                <div id="sayhi">
                    xin chao <span id="currentUser">A</span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>
                <div id="listmessager"></div>

                <div id="thongbao"></div>
                <input type="text" id="txtMessage">
                <input type="button" id="bnt_send" value="Send">

            </div>
        </div>
    </div>
</body>
</html>
