body{
    background-color: #afe7e7;
}
#left{width: 30% ; float: left; background-color: #f4fcfc
}
#right{width: 70% ; float: right; background-color: #f6ede3
}
#boxTilte{border: solid 1px black ; padding: 5px; text-align: center; font-weight: bold}
#boxContent{border: solid 1px black; border-top: none;padding: 5px; text-align: center }
#sayhi{text-align: right}
#listmessager{height: 200px; background-color: #dbefe8; border-bottom: 15px}
#txtMessage{background-color: transparent; border: solid 1px black}
